.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Separacion {
  padding-top: 1em;
  margin-top: 1em;
}

.button {
  background-color: #3665ae;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button12px {
  border-radius: 12px;
}

.button12px:hover {
  background-color: white;
  color: #3665ae;
  border: 2px solid #feca0a;
}

body {
  /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d977976c-39d2-40af-88ad-5df4f6b2e1b9/d5mue2d-35e98776-8185-421c-a424-d0750c24465e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q5Nzc5NzZjLTM5ZDItNDBhZi04OGFkLTVkZjRmNmIyZTFiOVwvZDVtdWUyZC0zNWU5ODc3Ni04MTg1LTQyMWMtYTQyNC1kMDc1MGMyNDQ2NWUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jW0IWql_bKntwqZl3EmTuJyyT6AkCTb-RR7KlY5jIqA") */
}

div.transbox {
  margin: 100px;
  background-color: #ffffff;
  opacity: 0.6;
}

.img-bg {
opacity: 2;

}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}